@{
    ViewBag.Title = "FAQ";
    Layout = "_Layout";
}

<div class="faq-container">
    <div class="faq-block">
        <h3>GENERAL QUESTIONS</h3>
        <h4>INFORMATION</h4>
        <p>You can pay for your order in the "Cart" section by selecting the appropriate product.</p>
        <p>Follow the instructions.</p>
        <p>Payment is made by Visa or MasterCard bank cards.</p>
        <p>After the purchase of the goods, your order is checked and processed by the administration and within 
            48 hours your order will be processed with the status "Order accepted".</p>
        <p>Orders are shipped within 1 - 3 working days after they are accepted by the administrator.</p>
        <p>Delivery across Ukraine is carried out by the Nova Poshta company. 
            The parcel is delivered within 1 - 2 working days from the date of dispatch of the order. 
            The parcel must be picked up within 5 days from the date of delivery. 
            After 5 days, Nova Poshta will charge an additional fee for storing the item.</p>
        <p>Delivery outside Ukraine is carried out by Ukrposhta. 
            The parcel is delivered within 7 - 21 working days from the date of shipment of the order.</p>
    </div>
    <div class="faq-block">
        <h3>SHIPPING AND PAYMENT</h3>
        <h4>WHY ARE THEY GOOD?</h4>
        <h5>DIVERSITY</h5>
        <p>The wealth of shapes, sizes and colors add up to an unthinkable number of possible combinations. 
            Now, the keyboard is not only an input device, but also the dominant of your desktop.</p>
        <h5>ACCURACY</h5>
        <p>An indicator that was first evaluated by professional cybersportsmen. It doesn’t matter what you do – 
            drag one for the whole team, catch up with a project deadline or write a letter to your loved one. 
            You can be sure that each click will be processed in the same way as a million times before.</p>
        <h5>RELIABILITY</h5>
        <p>Wear-resistant PBT plastic, metal carrier plate and its own mechanism for each individual key. 
            Regardless of the type of switch, the manufacturer guarantees 50 million. 
            Pressing without breaking. More than reliable.</p>
    </div>
</div>