@{
    ViewData["Title"] = "Home";
}

<div class="landing-container">
    <div class="landing-text-container">
        <h2 class="landing-title">Your table is the best!</h2>
        <p class="landing-text">Apparently you are tired of your gray workplace. We'll help you fix it. We have a huge range of devices and decorations for every taste.</p>
        <a class="landing-want-button" asp-action="Index" asp-controller="Goods">I WANT</a>
    </div>
    <img src="img/landing.png" alt="" class="landing-image"/>
</div>