@{
    ViewBag.Title = "Goods";
    Layout = "_Layout";
}

<section class="goods-category-container d-flex flex-row align-items-center justify-content-center">
    <a class="goods-category-tile goods-keyboards d-flex align-items-end justify-content-start" asp-action="Keyboards" asp-controller="Goods">KEYBOARD</a>
    <a class="goods-category-tile goods-mouses d-flex align-items-end justify-content-start" asp-action="Mouses" asp-controller="Goods">MOUSE</a>
    <a class="goods-category-tile goods-mousepads d-flex align-items-end justify-content-start" asp-action="Mousepads" asp-controller="Goods">MOUSEPAD</a>
    <a class="goods-category-tile goods-gamepads d-flex align-items-end justify-content-start" asp-action="Gamepads" asp-controller="Goods">GAMEPAD</a>
</section>