@{
    ViewBag.Title = "Goods";
    Layout = "_Layout";
}

<section class="goods-category-container d-flex flex-row align-items-center justify-content-center">
    <a class="goods-category-tile goods-keyboards d-flex align-items-end justify-content-start" asp-action="Index" asp-controller="Keyboards">KEYBOARD</a>
    <a class="goods-category-tile goods-mouses d-flex align-items-end justify-content-start" asp-action="Index" asp-controller="Mouses">MOUSE</a>
    <a class="goods-category-tile goods-mousepads d-flex align-items-end justify-content-start" asp-action="Index" asp-controller="Mousepads">MOUSEPAD</a>
    <a class="goods-category-tile goods-gamepads d-flex align-items-end justify-content-start" asp-action="Index" asp-controller="Gamepads">GAMEPAD</a>
</section>