@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

a:active,
a:hover,
a:visited,
a:link {
    transform: none;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-bottom: 40px;
    padding-right: 35px;
    color: #6A6A6A;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.navigation {
    background-color: #1C1C1C;
    display: flex;
    height: 50px;
    margin-top: 35px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navigation-title,
.navigation-title:active,
.navigation-title:visited,
.navigation-title:link,
.navigation-title:hover{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #F5F5F5;
    margin-left: 40px;
}

.navigation-item-container {
    display: flex;
    gap: 45px;
    margin-right: 30px;
}

.navigation-link,
.navigation-link:active,
.navigation-link:visited,
.navigation-link:link,
.navigation-link:hover {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.navigation-ellipse-button,
.navigation-ellipse-button:active,
.navigation-ellipse-button:visited,
.navigation-ellipse-button:link,
.navigation-ellipse-button:hover {
    display: flex;
    height: 40px;
    min-width: 110px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
    color: #FFFFFF;
}

.landing-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 120px;
    margin-top: 200px;
}

.landing-image {
    border-radius: 22px;
    border: 0;
}

.landing-text-container {
    display: flex;
    width: 560px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.landing-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #EDEDED;
    line-height: 1.3;
    letter-spacing: 2px;
}

.landing-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #C8C8C8;
    line-height: 1.3;
    letter-spacing: 1px;
    margin-top: 40px;
}

.landing-want-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 135px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #131313;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
    align-self: center;
    margin-top: 125px;
}

.landing-want-button:hover {
    background-color: #1C1C1C;
    color: #FFFFFF;
    border: 1px solid #000000;
}

.goods-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.goods-tile {
    display: flex;
    height: 800px;
    width: 330px;
    border: 1px solid #C5C5C5;
    border-radius: 20px;
    align-items: flex-end;
    justify-content: flex-start;
    background-repeat: no-repeat;
    color: #E0DFDF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 42px;
    padding-left: 30px;
    padding-bottom: 30px;
    -webkit-transition: background-image .5s;
    -moz-transition:    background-image .5s;
    -ms-transition:     background-image .5s;
    -o-transition:      background-image .5s;
    transition:         background-image .5s;
}

.goods-tile:hover,
.goods-tile:link,
.goods-tile:active,
.goods-tile:visited {
    text-decoration: none;
    color: #E0DFDF;
}

.goods-keyboards {
    background-image: url("../img/keyboard1.png");
}

.goods-keyboards:hover {
    background-image: url("../img/keyboard2.png");
}

.goods-mouses {
    
    background-image: url("../img/mouse1.png");
}

.goods-mouses:hover {
    background-image: url("../img/mouse2.png");
}

.goods-mousepads {
    background-image: url("../img/mat1.png");
}

.goods-mousepads:hover {
    background-image: url("../img/mat2.png");
}

.goods-gamepads {
    background-image: url("../img/gamepad1.png");
}

.goods-gamepads:hover {
    background-image: url("../img/gamepad2.png");
}

.faq-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 20px;
}

.faq-block {
    display: flex;
    width: 410px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 16px;
    border: 0;
    background-color: #E4E4E4;
    padding: 10px 20px 20px;
}

.faq-block h3 {
    align-self: center;
    color: #1C1C1C;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.faq-block h4 {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.35;
}

.faq-block h5 {
    color: #232332;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.35;
}

.faq-block p {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35;
    letter-spacing: 2px;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 100px;
}

.services-container h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #EDEDED;
    line-height: 1.3;
    letter-spacing: 1px;
}

.services-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #C8C8C8;
    line-height: 1.3;
    letter-spacing: 1px;
    margin-top: 60px;
}

.services-get-contacts-button {
    display: flex;
    height: 44px;
    width: 190px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #131313;
    border: 0;
    border-radius: 22px;
    background-color: #FFFFFF;
    margin-top: 100px;
    -webkit-transition: color .25s, background-color .25s, border .25s, visibility .5s, opacity .5s, margin-left .5s;
    -moz-transition:    color .25s, background-color .25s, border .25s, visibility .5s, opacity .5s, margin-left .5s;
    -ms-transition:     color .25s, background-color .25s, border .25s, visibility .5s, opacity .5s, margin-left .5s;
    -o-transition:      color .25s, background-color .25s, border .25s, visibility .5s, opacity .5s, margin-left .5s;
    transition:         color .25s, background-color .25s, border .25s, visibility .5s, opacity .5s, margin-left .5s;
}

.services-get-contacts-button:hover {
    background-color: #1C1C1C;
    color: #FFFFFF;
    border: 1px solid #000000;
}

.services-contacts {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 120px;
    margin-left: 0;
    -webkit-transition: visibility .5s, opacity .5s, margin-left .5s;
    -moz-transition:    visibility .5s, opacity .5s, margin-left .5s;
    -ms-transition:     visibility .5s, opacity .5s, margin-left .5s;
    -o-transition:      visibility .5s, opacity .5s, margin-left .5s;
    transition:         visibility .5s, opacity .5s, margin-left .5s;
}

.services-contacts-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.services-contacts-line a {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #CFCFCF;
}