@model eStore.WebMVC.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="register-container">
    <form asp-action="Login" asp-controller="Account" class="register-form">
        <div class="register-form-group">
            <label asp-for="Email" class="register-label"></label>
            <input asp-for="Email" class="register-input" type="email" autocomplete="off"/>
        </div>
        <div class="register-form-group">
            <label asp-for="Password" class="register-label"></label>
            <input asp-for="Password" class="register-input" type="password" autocomplete="off"/>
        </div>
        <div class="register-form-group" style="justify-content: flex-start">
            <label asp-for="RememberMe" class="register-label"></label>
            <input asp-for="RememberMe" class="register-input" style="margin-left: 30px; width: 20px" type="checkbox"/>
        </div>
        <div class="register-form-errors">
            <div asp-validation-summary="All" class="register-error"></div>
            <span asp-validation-for="Email" class="register-error"></span>
            <span asp-validation-for="Password" class="register-error"></span>
        </div>
        <input type="submit" class="register-submit-button" value="LOGIN"/>
    </form>
</div>
