@{
    ViewBag.Title = "Goods";
    Layout = "_Layout";
}

<div class="goods-category-container">
    <a class="goods-category-tile goods-keyboards" asp-action="Keyboards" asp-controller="Goods">KEYBOARD</a>
    <a class="goods-category-tile goods-mouses" asp-action="Mouses" asp-controller="Goods">MOUSE</a>
    <a class="goods-category-tile goods-mousepads" asp-action="Mousepads" asp-controller="Goods">MOUSEPAD</a>
    <a class="goods-category-tile goods-gamepads" asp-action="Gamepads" asp-controller="Goods">GAMEPAD</a>
</div>