@model IEnumerable<OrderViewModel>

@{
    ViewBag.Title = "My Orders";
    Layout = "_Layout";
}

@if (!Model.Any())
{
    <article class="orders-history-container">
        <h2>HISTORY</h2>
        <h2>You didn't make any orders.</h2>
    </article>
}
else
{
    <article class="orders-history-container">
        <h2>HISTORY</h2>
        <section class="orders-history-list">
            @foreach (var order in Model)
            {
                <article class="order-tile">
                    <section class="order-tile-items-column">
                        @foreach (var item in order.OrderItems)
                        {
                            <div class="order-item-group">
                                <div class="order-item-name">@item.Goods.Name</div>
                                <div class="order-item-price">$@item.UnitPrice</div>
                            </div>
                        }
                    </section>
                    <section class="order-tile-info-column">
                        <div class="order-item-group">
                            <div class="order-item-name">Date:</div>
                            <div class="order-item-name">@order.TimeStamp.ToShortDateString()</div>
                        </div>
                        <div class="order-item-group">
                            <div class="order-item-name">Order number:</div>
                            <div class="order-item-name">@order.Id</div>
                        </div>
                        <div class="order-item-group">
                            <div class="order-item-name">Status: </div>
                            <div class="order-item-name">@order.Status</div>
                        </div>
                    </section>
                    <div class="order-tile-total">$@order.Total</div>
                </article>
            }
        </section>
    </article>
}