@{
    ViewBag.Title = "Thanks!";
    Layout = "_Layout";
}

<div class="purchase-success-container">
    <h2>Thank you for purchase!</h2>
    <h3>Out manager will contact you soon.</h3>
    <a asp-action="Index" asp-controller="Home">BACK TO STORE</a>
</div>


