<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - eStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navigation">
        <a asp-action="Index" asp-controller="Home" class="navigation-title">Scenery for desk</a>
        <div class="navigation-item-container">
            <a class="navigation-link" asp-action="Services" asp-controller="Home">Services</a>
            <a class="navigation-link" asp-action="AboutUs" asp-controller="Home">About us</a>
            <a class="navigation-link" asp-action="Faq" asp-controller="Home">FAQ</a>
            
            @if (User.Identity.IsAuthenticated)
            {
                <div class="navigation-item-container">
                    <a class="navigation-ellipse-button">Name</a>
                    <a class="navigation-ellipse-button" asp-action="Logout" asp-controller="Account">Logout</a>
                </div>
            }
            else
            {
                <div class="navigation-item-container">
                    <a class="navigation-ellipse-button" asp-action="Register" asp-controller="Account">Sign Up</a>
                    <a class="navigation-ellipse-button" asp-action="Login" asp-controller="Account">Login</a>
                </div>
            }
        </div>
    </nav>
</header>
<div>
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer>
    <div>2022</div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>