<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - eStore</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
<header>
    <nav class="navigation">
        <a asp-action="Index" asp-controller="Home" class="navigation-title">eStore</a>
        <div class="navigation-item-container">
            <a class="navigation-link" asp-action="Index" asp-controller="Goods">Store</a>
            <a class="navigation-link" asp-action="Services" asp-controller="Home">Services</a>
            <a class="navigation-link" asp-action="Faq" asp-controller="Home">FAQ</a>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="navigation-item-container">
                    <a class="navigation-ellipse-button" asp-action="Index" asp-controller="Account">@User.Identity.Name</a>
                    <form asp-action="Logout" asp-controller="Account">
                        <label class="navigation-logout-button">
                            <input type="submit" style="display: none"/>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 22H3C2.46957 22 1.96086 21.7893 1.58579 21.4142C1.21071 21.0391 1 20.5304 1 20V6C1 5.46957 1.21071 4.96086 1.58579 4.58579C1.96086 4.21071 2.46957 4 3 4H7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14 18L19 13L14 8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M19 13H7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </label>
                    </form>
                </div>
            }
            else
            {
                <div class="navigation-item-container">
                    <a class="navigation-ellipse-button" asp-action="Register" asp-controller="Account">Sign Up</a>
                    <a class="navigation-ellipse-button" asp-action="Login" asp-controller="Account">Login</a>
                </div>
            }
        </div>
    </nav>
</header>
<div>
    <main role="main" class="main">
        @RenderBody()
    </main>
</div>

<footer>
    <div>2022</div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
@await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>