@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
    background-color: #1C1C1C;
    -ms-overflow-style: none;
    -webkit-transition: filter .25s;
    -moz-transition:    filter .25s;
    -ms-transition:     filter .25s;
    -o-transition:      filter .25s;
    transition:         filter .25s;
}

body::-webkit-scrollbar {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

a:active,
a:hover,
a:visited,
a:link {
    transform: none;
    text-decoration: none;
}

button:focus {
    outline: 0;
}

footer {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 35px;
    color: #6A6A6A;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: auto;
}

.navigation {
    background-color: #1C1C1C;
    display: flex;
    height: 50px;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navigation-title,
.navigation-title:active,
.navigation-title:visited,
.navigation-title:link,
.navigation-title:hover{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #F5F5F5;
    margin-left: 40px;
}

.navigation-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-right: 20px;
}

.navigation-link,
.navigation-link:active,
.navigation-link:visited,
.navigation-link:link,
.navigation-link:hover {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.navigation-ellipse-button,
.navigation-ellipse-button:active,
.navigation-ellipse-button:visited,
.navigation-ellipse-button:link,
.navigation-ellipse-button:hover {
    display: flex;
    height: 40px;
    min-width: 110px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation-logout-button {
    display: flex;
    height: 24px;
    width: 24px;
    border: 0;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
    cursor: pointer;
}

.landing-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 120px;
    margin-top: 200px;
}

.landing-image {
    border-radius: 22px;
    border: 0;
}

.landing-text-container {
    display: flex;
    width: 560px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.landing-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #EDEDED;
    line-height: 1.3;
    letter-spacing: 2px;
}

.landing-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #C8C8C8;
    line-height: 1.3;
    letter-spacing: 1px;
    margin-top: 40px;
}

.landing-want-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 135px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #131313;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
    align-self: center;
    margin-top: 125px;
}

.landing-want-button:hover {
    background-color: #1C1C1C;
    color: #FFFFFF;
    border: 1px solid #000000;
}

.goods-category-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.goods-category-tile {
    display: flex;
    height: 800px;
    width: 330px;
    border: 1px solid #C5C5C5;
    border-radius: 20px;
    align-items: flex-end;
    justify-content: flex-start;
    background-repeat: no-repeat;
    color: #E0DFDF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 42px;
    padding-left: 30px;
    padding-bottom: 30px;
    -webkit-transition: background-image .5s;
    -moz-transition:    background-image .5s;
    -ms-transition:     background-image .5s;
    -o-transition:      background-image .5s;
    transition:         background-image .5s;
}

.goods-category-tile:hover,
.goods-category-tile:link,
.goods-category-tile:active,
.goods-category-tile:visited {
    text-decoration: none;
    color: #E0DFDF;
}

.goods-keyboards {
    background-image: url("../img/keyboard1.png");
}

.goods-keyboards:hover {
    background-image: url("../img/keyboard2.png");
}

.goods-mouses {
    
    background-image: url("../img/mouse1.png");
}

.goods-mouses:hover {
    background-image: url("../img/mouse2.png");
}

.goods-mousepads {
    background-image: url("../img/mat1.png");
}

.goods-mousepads:hover {
    background-image: url("../img/mat2.png");
}

.goods-gamepads {
    background-image: url("../img/gamepad1.png");
}

.goods-gamepads:hover {
    background-image: url("../img/gamepad2.png");
}

.faq-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 20px;
}

.faq-block {
    display: flex;
    width: 410px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 16px;
    border: 0;
    background-color: #E4E4E4;
    padding: 10px 20px 20px;
}

.faq-block h3 {
    align-self: center;
    color: #1C1C1C;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.faq-block h4 {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.35;
}

.faq-block h5 {
    color: #232332;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.35;
}

.faq-block p {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35;
    letter-spacing: 2px;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 100px;
}

.services-container h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #EDEDED;
    line-height: 1.3;
    letter-spacing: 1px;
}

.services-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #C8C8C8;
    line-height: 1.3;
    letter-spacing: 1px;
    margin-top: 60px;
}

.services-get-contacts-button {
    display: flex;
    height: 44px;
    width: 190px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #131313;
    border: 0;
    border-radius: 22px;
    background-color: #FFFFFF;
    margin-top: 100px;
    -webkit-transition: color .25s, background-color .25s, border .25s, visibility .5s, opacity .5s, margin-left .5s;
    -moz-transition:    color .25s, background-color .25s, border .25s, visibility .5s, opacity .5s, margin-left .5s;
    -ms-transition:     color .25s, background-color .25s, border .25s, visibility .5s, opacity .5s, margin-left .5s;
    -o-transition:      color .25s, background-color .25s, border .25s, visibility .5s, opacity .5s, margin-left .5s;
    transition:         color .25s, background-color .25s, border .25s, visibility .5s, opacity .5s, margin-left .5s;
}

.services-get-contacts-button:hover {
    background-color: #1C1C1C;
    color: #FFFFFF;
    border: 1px solid #000000;
}

.services-contacts {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 120px;
    margin-left: 0;
    -webkit-transition: visibility .5s, opacity .5s, margin-left .5s;
    -moz-transition:    visibility .5s, opacity .5s, margin-left .5s;
    -ms-transition:     visibility .5s, opacity .5s, margin-left .5s;
    -o-transition:      visibility .5s, opacity .5s, margin-left .5s;
    transition:         visibility .5s, opacity .5s, margin-left .5s;
}

.services-contacts-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.services-contacts-line a {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #CFCFCF;
}

.filter-sidebar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 90px;
    left: -180px;
    -webkit-transition: left .3s;
    -moz-transition:    left .3s;
    -ms-transition:     left .3s;
    -o-transition:      left .3s;
    transition:         left .3s;
}

.filter-list {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;
    justify-content: flex-start;
    background-color: #EEEEEE;
    border: 0;
    border-bottom-right-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.filter-category-name {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-top: 15px;
    justify-self: center;
}

.filter-option-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 20px;
    gap: 5px;
}

.filter-option-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.filter-option-price-input {
    width: 40px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #131313;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #888888;
}

.filter-option-price-input:focus {
    outline: none;
}

.filter-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0;
    width: 80px;
    height: 26px;
    border: 0;
    border-radius: 13px;
    background-color: #131313;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #EEEEEE;
    text-align-all: center;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
    margin-top: 20px;
}

.filter-submit:hover {
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
}

.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 80px;
    background-color: #EEEEEE;
    position: absolute;
    top: 30px;
    right: -50px;
    border: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    transform: rotate(-90deg);
}

.goods-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.goods-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #E0DFDF;
    margin: 20px 0 0;
}

.goods-tile {
    display: flex;
    min-height: 225px;
    width: 980px;
    flex-direction: row;
    border: 1px solid #FFFFFF;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 20px;
    position: relative;
}

.goods-image-container {
    display: flex;
    min-height: 223px;
    height: 100%;
    width: 360px;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 20px;
}

.goods-image-container img {
    max-height: 200px;
    max-width: 260px;
}

.goods-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 20px auto 70px;
}

.goods-info-title,
.goods-info-title:link,
.goods-info-title:active,
.goods-info-title:visited,
.goods-info-title:hover {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #DFDFDF;
    margin: 0;
}

.goods-info p {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #CFCFCF;
    margin: 0;
}

.goods-details {
    display: flex;
    min-width: 430px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.goods-details-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.goods-price-cart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.goods-details-price {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #DFDFDF;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 25px;
    border-radius: 20px;
    border: 1px solid #888888;
    padding: 40px;
}

.register-form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.register-label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0;
}

.register-input {
    width: 150px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #888888;
}

.register-input:focus {
    outline: none;
}

.register-form-errors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 20px;
}

.register-form-errors ul {
    list-style-type: none;
}

.register-error {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.register-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 80px;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #131313;
    border: 0;
    border-radius: 11px;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
}

.register-submit-button:hover {
    background: transparent;
    color: #FFFFFF;
    border: 1px solid #000000;
}

.goods-page-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.goods-page-left-column {
    display: flex;
    flex-direction: column;
    width: calc(60vw);
    align-items: center;
    justify-content: flex-start;
    -webkit-transition: margin-left .5s, opacity 1s;
    -moz-transition:    margin-left .5s, opacity 1s;
    -ms-transition:     margin-left .5s, opacity 1s;
    -o-transition:      margin-left .5s, opacity 1s;
    transition:         margin-left .5s, opacity 1s;
    opacity: 0;
    margin-left: -200px;
}

.goods-page-left-column h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: #E4E4E4;
}

.goods-page-left-column img {
    margin-top: 100px;
    width: 580px;
}

.goods-page-right-column {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(40vw);
    background-color: #E4E4E4;
    opacity: 0;
    -webkit-transition: padding 1s, opacity 1s;
    -moz-transition:    padding 1s, opacity 1s;
    -ms-transition:     padding 1s, opacity 1s;
    -o-transition:      padding 1s, opacity 1s;
    transition:         padding 1s, opacity 1s;
    padding: 40px 80px 40px 0;
}

.goods-page-details-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 70px;
}

.goods-page-details-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.goods-page-details-column p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1C1C1C;
    letter-spacing: 1px;
    margin: 0;
}

.goods-page-description {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1C1C1C;
    letter-spacing: 1px;
    line-height: 145%;
    margin-top: 40px;
}

.goods-page-price {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 70px;
}

.goods-page-price-int {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #1C1C1C;
    letter-spacing: 1px;
}

.goods-page-price-float {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #1C1C1C;
    letter-spacing: 1px;
}

.goods-page-cart-button {
    display: flex;
    height: 50px;
    width: 170px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    background-color: #131313;
    margin-top: 20px;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
}

.goods-page-cart-button:hover {
    border: 1px solid #000000;
    background-color: #E4E4E4;
    color: #1C1C1C;
}

.goods-page-cart-button-disabled {
    display: flex;
    height: 50px;
    width: 170px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 20px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #E4E4E4;
}

.account-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.account-left-column {
    display: flex;
    width: calc(30vw);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.account-info-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid #E4E4E4;
    border-radius: 20px;
    padding: 30px 30px 40px;
    margin-top: 60px;
}

.account-info-container h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #EDEDED;
    align-self: center;
    margin: 0 0 10px;
}

.account-info-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #DBDBDB;
    margin: 0 0 5px;
}

.account-info-edit-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
}

.account-edit-form-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
}

.account-info-edit-form {
    display: none;
    flex-direction: column;
    position: relative;
    width: 300px;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid #E4E4E4;
    border-radius: 20px;
    padding: 30px 30px 40px;
    margin-top: 60px;
    gap: 10px;
}

.account-edit-form-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    gap: 20px;
    margin-bottom: 20px;
}

.account-edit-form-name-input {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #EDEDED;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #888888;
    width: 100px;
    text-align: center;
}

.account-edit-form-name-input:focus {
    outline: none;
}

.account-edit-form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.account-edit-form-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #DBDBDB;
    margin: 0;
}

.account-edit-form-input {
    font-family: 'Roboto', sans-serif;
    width: 130px;
    font-weight: 400;
    font-size: 16px;
    color: #DBDBDB;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #888888;
}

.account-edit-form-input:focus {
    outline: none;
}

.account-edit-form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0;
    width: 80px;
    height: 32px;
    border: 0;
    border-radius: 16px;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #131313;
    text-align-all: center;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
    margin-top: 20px;
}

.account-edit-form-submit:hover {
    background-color: transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
}

.account-edit-form-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.account-change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 80px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
    background-color: #FFFFFF;
    color: #131313;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-align-all: center;
}

.account-change-password:hover {
    background-color: transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
}

.deactivate-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    -webkit-transition: color .25s;
    -moz-transition:    color .25s;
    -ms-transition:     color .25s;
    -o-transition:      color .25s;
    transition:         color .25s;
    background-color: #F66A6A;
    color: #131313;
    filter: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.deactivate-account:hover {
    color: #D40000;
}

.account-deactivation-container {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: transparent;
    display: none;
    z-index: 5;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.account-deactivation-window {
    display: flex;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E4E4E4;
    border: none;
    border-radius: 20px;
    filter: none;
}

.account-deactivation-window h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
}

.account-deactivation-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.account-deactivation-yes-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 135px;
    border-radius: 20px;
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    background-color: #FFFFFF;
    color: #131313;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
}

.account-deactivation-yes-button:hover {
    background-color: #131313;
    color: #FFFFFF;
}

.account-deactivation-no-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 135px;
    border-radius: 20px;
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    background-color: #131313;
    color: #FFFFFF;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
}

.account-deactivation-no-button:hover {
    background-color: #FFFFFF;
    color: #131313;
}

.account-right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(70vw);
}

.account-right-column h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
}

.account-cart-container {
    display: flex;
    min-height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.account-cart-no-items {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #E4E4E4;
}

.account-cart-item {
    position: relative;
}

.cart-remove-item-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 0;
}

.account-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.account-order-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 135px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    background-color: #FFFFFF;
    color: #131313;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
}

.account-order-button:hover {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #000000;
}

.account-history-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 135px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    background-color: #FFFFFF;
    color: #131313;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
}

.account-history-button:hover {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #000000;
}

.orders-history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orders-history-container h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #E0DFDF;
    margin-top: 30px;
    margin-bottom: 30px;
}

.orders-history-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.order-tile {
    display: flex;
    width: calc(50vw);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 1px solid #CFCFCF;
    border-radius: 20px;
    padding: 30px 30px 80px;
    position: relative;
}

.order-tile-items-column {
    display: flex;
    min-width: 45%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.order-tile-info-column {
    display: flex;
    min-width: 35%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.order-item-group {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order-item-name {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #CFCFCF;
}

.order-item-price {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #DFDFDF;
}

.order-tile-total {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #DFDFDF;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.new-order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.new-order-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
}

.new-order-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.new-order-item {
    display: flex;
    width: 600px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    border: 1px solid #CFCFCF;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    gap: 20px;
}

.new-order-item-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.new-order-item-column h3 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #DFDFDF;
    align-self: center;
}

.new-order-item-column img {
    max-width: 300px;
    max-height: 120px;
    align-self: center;
}

.new-order-item-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 160px;
    margin-top: 20px;
}

.new-order-label {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #DFDFDF;
}

.new-order-quantity-input {
    font-family: 'Roboto', sans-serif;
    width: 25px;
    font-weight: 400;
    font-size: 16px;
    color: #DBDBDB;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
}

.new-order-quantity-input:focus {
    outline: none;
}

.new-order-item-remove {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.new-order-info {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #CFCFCF;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
}

.new-order-info-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 260px;
}

.new-order-column h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
}

.new-order-input {
    font-family: 'Roboto', sans-serif;
    width: 160px;
    font-weight: 400;
    font-size: 16px;
    color: #DBDBDB;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #888888;
}

.new-order-input:focus {
    outline: none;
}

.new-order-total-price {
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #DFDFDF;
}

.new-order-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 135px;
    border: 0;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #131313;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
    margin-top: 30px;
}

.new-order-submit-button:hover {
    border: 1px solid #000000;
    background-color: transparent;
    color: #FFFFFF;
}

.info-page-container {
    height: calc(30vh);
    width: calc(100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
}

.info-page-container h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 56px;
    color: #F5F5F5;
}

.info-page-container h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #F5F5F5;
}

.info-page-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 220px;
    border-radius: 20px;
    border: 0;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
    background-color: #FFFFFF;
    color: #131313;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.info-page-container a:hover {
    border: 1px solid #000000;
    background-color: #000000;
    color: #FFFFFF;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}

.error-code {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 96px;
    color: #EDEDED;
}

.error-message {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #EDEDED;
}

.error-return {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 220px;
    border-radius: 20px;
    border: 0;
    -webkit-transition: color .25s, background-color .25s, border .25s;
    -moz-transition:    color .25s, background-color .25s, border .25s;
    -ms-transition:     color .25s, background-color .25s, border .25s;
    -o-transition:      color .25s, background-color .25s, border .25s;
    transition:         color .25s, background-color .25s, border .25s;
    background-color: #FFFFFF;
    color: #131313;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.error-return:hover {
    border: 1px solid #000000;
    background-color: #000000;
    color: #FFFFFF;
}